<app-loader *ngIf="isLoading"></app-loader>
<app-game-form *ngIf="isAdding" [editMode]="false" (modalClose)="onCloseModal()"></app-game-form>
<section class="p-0 pt-3 p-sm-5 text-center text-md-start">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/mario-juega.jpg" class="d-block w-100" alt="..." style="width: 50%; height: auto; margin: 0 auto;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Miles de juegos a tu alcance</h5>
              <p>Regístrate para disfrutar de tu experiencia Exchange al máximo.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/joysticks1.jpg" class="d-block w-100" alt="..." style="width: 50%; height: auto; margin: 0 auto;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Intercambia con otros usuarios y haz amigos nuevos</h5>
              <p>Realiza intercambios de juegos con otros usuarios y fortalece tus amistades.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/joystick2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>No lo pienses más y únete</h5>
              <p>Únete a esta gran comunidad y disfruta de 2€ en Coins.</p>
            </div>
          </div>
        </div>
        <br>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- games list -->
    <div class="container" id="game-container" *ngIf="!isError && !isLoading">
        <div>
            <form (ngSubmit)="onSearchSubmit(searchForm)" #searchForm="ngForm">
                <div class="d-flex col-lg-4 col-md-6 col-sm-8 col-12 ms-auto mb-2">
                    <input name="search" type="text" ngModel id="search" class="form-control form-control-custom-orange" placeholder="Search">
                    <button type="submit" class="btn btn-sm btn-custom-orange  ms-2 d-flex justify-content-center">
                        <i class="bi bi-search text-secondary text-white fs-5 mx-1"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="pb-3">
            <div *ngIf="loggedIn && currentUser.roles?.indexOf('ROLE_ADMIN') !== -1" class="bg-white col p-5 mt-3 text-center" style="border: dashed; border-width: thin; border-color: darkgray; border-radius: 3px;">
                <h4>
                    <a class="text-muted text-decoration-none p-5 mb-3" (click)="onOpenModal()" style="cursor: pointer;">+ Añadir Juego</a>
                </h4>
            </div>
        </div>
        
        <ul class="list-group">
            <li class="list-group-item bg-light">
                <h4 class="p-0 text-start m-0">Catálogo de Juegos</h4>
            </li>
            <li *ngFor="let game of games" class="list-group-item p-2">
                <div class="d-sm-flex justify-content-between">
                    <div class="d-sm-flex">
                        <!--image-->
                        <div class="align-self-center">
                            <img [src]="game.imgPath" class="img-thumbnail" style="max-height: 200px;max-width: 150px;min-height: 150px;min-width: 100px;">
                        </div>
                        <!--title, author, description-->
                        <div class="col ps-0 px-sm-3">
                            <h5 class="m-0">
                                <span>{{ game.title }} </span>
                                <span class="fst-italic fw-light">by <span>{{ game.developera }}</span></span>
                            </h5>
                            <div class="d-sm-flex pt-1">
                                <div class="d-flex justify-content-center">
                                    <h6 class="text-warning align-self-center">
                                        <div class="col d-flex" *ngIf="game.reviewCount !== 0">
                                            <small class="d-flex" style="padding: 0px 2px;" *ngFor="let item of [].constructor(game.avgReviews); let i = index" class="text-warning">
                                                <i class="bi bi-star-fill"></i>
                                            </small>
                                            <small class="d-flex" style="padding: 0px 2px;" *ngFor="let item of [].constructor(5 - game.avgReviews); let i = index" class="text-warning">
                                                <i class="bi bi-star"></i>
                                            </small>
                                        </div>
                                    </h6>
                                    <h6 class="ms-2 text-muted"><span>{{ game.reviewCount }}</span> reseñas</h6>
                                </div>
                                <h6 class="ms-0 ms-sm-3 text-success"><i class="bi bi-clipboard2-check-fill me-1"></i><span>{{game.timesPurchased}}</span> vendido</h6>
                            </div>
                            <p class="m-0 text-muted d-none d-sm-block" align="justify" th:text="${game.shortDesc}">
                                {{ game.shortDesc }}
                            </p>
                            <div class="pt-4 d-none d-sm-block">
                                <span *ngFor="let tag of game?.tags?.split(',')" class="badge bg-custom-orange rounded-pill m-1">
                                    <a class="text-decoration-none text-light" href="">{{ tag }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5 class="fw-bold">{{ game.price | currency: 'EUR'}}</h5>

                        <div class="pt-3">
                            <a *ngIf="!game.productPurchased" class="btn btn-custom-orange" [routerLink]="['/checkout']" [queryParams]="{type: 'instant-checkout', id: game.id}"><strong>Comprar Ya</strong></a>
                            <button *ngIf="game.productPurchased" class="btn btn-success" disabled><strong>Comprado</strong></button>
                            <a class="btn btn-outline-secondary ms-1" [routerLink]="['/games', game.id]"><strong>Detalles</strong></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      
    </div>
    <!-- Page navigation -->
    <nav class="pt-3" *ngIf="!isError">
        <ul class="pagination justify-content-center">
            <li (click)="previousPage()" class="page-item" [ngClass]="{'disabled': currentPage === 1}" style="cursor: pointer;">
                <a class="page-link">Anterior</a>
            </li>
            <li (click)="selectPage(i+1)" *ngFor="let item of [].constructor(totalPages); let i = index" style="cursor: pointer;" class="page-item" [ngClass]="{'page-item active': currentPage === i+1}">
                <a class="page-link">{{i+1}}</a>
            </li>
            <li (click)="nextPage()" class="page-item" style="cursor: pointer;" [ngClass]="{'disabled': isLast}">
                <a class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
    <div class="text-center">
        <small class="text-muted">{{'Resultados totales: ' + totalResults}}</small>
    </div>
</section>
<app-error class="p-0 pt-3 p-sm-5" *ngIf="isError"></app-error>
