<div class="pt-5 ps-5">
    <div>
        <h5>XCHANGE</h5>
        <ul>
            <li>
                <a href="https://github.com/oscarsanchez32/xchange" target="_blank">Github</a>
            </li>
            <li>
                <a href="https://github.com/oscarsanchez32/xchange/issues" target="_blank">Reporta un error</a>
            </li>
            <li>
                <a href="https://github.com/oscarsanchez32/xchange/blob/master/LICENSE" target="_blank">Guía de uso (video)</a>
            </li>
            <li>
                <a href="https://github.com/oscarsanchez32/xchange/blob/master/README.md" target="_blank">README</a>
            </li>
        </ul>
    </div>
</div>
